// @import 'slick-carousel/slick/slick.scss';
// @import 'slick-carousel/slick/slick-theme.scss';
.wrapper {
    display: flex;
    -webkit-box-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 16px -8px 0 -8px;
}
.item {
    // margin-bottom: 16px;
}
.inner {
    position: relative;
    overflow: hidden;
    margin-bottom: 1;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
        .image {
            img {
                transform: scale(1.1);
            }
        }
        .meta {
            opacity: 1;
            visibility: visible;
            > h4 {
                position: static;
            }
            > p {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.image {
    img {
        max-width: 100%;
        height: auto;
        transition: all 0.4s;
    }
}
.meta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    > h4 {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        transition: all 0.4s;
        display: inline-block;
        width: calc(100% - 32px);
        > a {
            color: #ffffff;
            font-size: 18px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            &:hover {
                color: #bc5b01;
            }
        }
    }
    > p {
        color: #fff;
        margin-bottom: 7px;
        opacity: 0;
        visibility: hidden;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
