.wrapper {
    padding: 32px 0;
}
.inner {
    > h1 {
        font-size: 30px;
    }
}
.page-content {
    max-width: 500px;
    // margin: auto;
    > h3 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 16px;
    }
    margin-bottom: 32px;
}
.group-info {
    margin-top: 8px;
    &:not(.tickets) {
        display: flex;
        justify-content: space-between;
        label {
            width: 150px;
        }
        span {
            width: calc(100% - 150px);
            text-align: right;
        }
    }
}
.ticket-item {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    label {
        width: 150px;
    }
    span {
        width: calc(100% - 150px);
        text-align: right;
    }
}
