.wrapper {
    ul {
        width: 100%;
        margin-bottom: 0;
        > li {
            > a {
                padding: 12px 16px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                display: inline-block;
                vertical-align: middle;
                color: #262626;
                width: 100%;
                span {
                    padding-left: 12px;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.06);
                }
            }
        }
    }
}
