.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(min(calc(calc(100vw - 64px)), 135vh));
    // max-width: 1000px;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.over-layout {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
}
.header {
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #e7e7e7;
    > button {
        background-color: transparent;
        width: 60px;
        height: 60px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-right: 10px;
    }
}
.body {
    background-color: #fff;
    display: grid;
    width: 100%;
    padding: 32px 48px 48px;
    display: grid;
    grid-template-columns: 84px 1fr 84px;
    gap: 8px;
    grid-template-rows: calc(min(calc(100vh - 276px), calc(75vw - 300px))) 20px 75px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    > button {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        grid-row: 1 / 2;
        background-color: transparent;
    }
}

.cover {
    grid-row: 1 / 2;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    border-radius: 4px;
    cursor: pointer;
}
.number-length {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}
.thumbs {
    gap: 8px;
    overflow: hidden;
    grid-area: 3 / 2 / 4 / 3;
}
